
<div class=" mt-3">
    <h3 class="fw-light text-leo" style="letter-spacing: 3px;">{{name}}</h3>
    <hr>
    <div class="row text-center mb-2">
        <div  [ngClass]="screenSize==='mobile' ? 'col-6':'col-4'" class="mb-2" *ngFor="let product of products | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index" style="cursor: pointer;">
            <div (click)="navigateTo(product.name)">   
                <img src="{{product.imagePath}}" class="img-fluid rounded" >
                <div class="mt-1">
                    <span class="fw-medium">{{product.name}}</span>
                    <br>
                    <span class="fw-light">{{product.price}}€</span>
            </div>
            </div>
        </div>
    </div>
    
</div>

    <div class="pagination pagination-container" >
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
