.pagination {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 10px 0;
  }


.component-container {
    position: relative;
    width: 80%; 
    margin: 0 auto; 
    height: 100%;
  }
  
  .pagination-container {
    position:sticky ;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
  }