
<div class="background" (click)="closePop()">
    <div class="popup row">
        <!-- <div class="col-2"></div> -->
        <div class="col text-center p-4 text-dark">
            <p>
                Apologies! It seems like you liked this position. But I have to tell you that this is not a real company!
            </p>
            <p>
                <span>However, I appreciate your interest! My name is Pablo, a skilled frontend developer passionate about crafting digital solutions. I'm eager to contribute my expertise to your team and make a meaningful impact. Feel free to consider me for any frontend developer openings or related roles.</span>
            </p>
       
         </div>
    <div class="popupActions col-1">
            <i class="bi bi-x" style="cursor: pointer;" (click)="closePop()"></i>
     </div>
</div>