
<div class="background" (click)="closePop()">
    <div class="popup row mb-1">
        <div class="col-4 col-md-2 d-flex align-items-center">
            <img class="img-fluid" src="https://th.bing.com/th/id/OIG.ZWttAcm6RCsJ5bLtoqSF?pid=ImgGn" alt="">
        </div>
        <div class="text-center p-4 col-6 col-md-8">
            <p class="fw-bold">{{product.name}} added!</p>
            <p>Amount: {{amount}}</p>
        </div>
        <div class="popupActions col-2 col-md-2">
            <i class="bi bi-x" style="cursor: pointer;" (click)="closePop()"></i>
        </div>
        <div class="row justify-content-evenly">
            <button class="btn btn-success col-3" (click)="closePop()">Keep Shopping</button>
            <button class="btn btn-light col-3" (click)="goCart()">Go to cart</button>
        </div>
    </div>
</div>