.background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(248, 248, 248, 0.7);
    z-index: 50;
}
.popup{
    position: fixed;
    background-color: rgb(255, 218, 173);
    left: 20vw;
    top: 30vh;
    width: 60vw;
    z-index: 200;
    padding: 26px 16px;
    border-radius: 3px;
    box-shadow: #0c0c0b 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.popupActions{
    text-align: right;
}
button{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    button{
        font-size: 2vw;
    }    

    .popup{
        position: fixed;
        background-color: rgb(252,209,156);
        left: 10vw;
        top: 30vh;
        width: 90vw;
        z-index: 100;
        padding: 26px 16px;
        border-radius: 3px;
        box-shadow: #0c0c0b 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
    }

}