.pagination-container {
    position:sticky ;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
  }
  .image{
    margin: auto;
    max-width: 25vw;
  }