<div class="container">

    <!-- <div class="containerGrid">
        <div class="imageGrid">
                <img class="img-fluid imgLeo" src="https://th.bing.com/th/id/OIG.fFHHZJfDNmTXcFDzf7g6?pid=ImgGn&w=1024&h=1024&rs=1" alt="">
        </div>
        <div class="textGrid1">
            <p>Welcome to LeoChan Careers, where passion meets purpose in a nurturing and vibrant work environment. At LeoChan, we believe in fostering a culture that values your well-being as much as your skills. We're more than an online supermarket; we're a close-knit community where innovation thrives, and every team member's voice is heard.
            </p>

            <p> Embrace a future where your talents are appreciated, and your ideas help shape the future of online retail. Your journey to a rewarding career begins here, at LeoChan Careers.
            </p>
        </div>
        <div class="textGrid2 text-center">
            <p>Check our opening positions in the left bar!</p>
        </div>

        
    </div> -->

    <div class="row">
        <div class="col-4"><img class="img-fluid" src="https://th.bing.com/th/id/OIG.fFHHZJfDNmTXcFDzf7g6?pid=ImgGn&w=1024&h=1024&rs=1" alt=""></div>
        <div class="col-8"><p>Welcome to LeoChan Careers, where passion meets purpose in a nurturing and vibrant work environment. At LeoChan, we believe in fostering a culture that values your well-being as much as your skills. We're more than an online supermarket; we're a close-knit community where innovation thrives, and every team member's voice is heard.
        </p></div>
    </div>
    <div class="row" style="align-items: center;">
        <div class="col-4"><div class=" text-center" style=" ">
            <p>Check our opening positions in the left bar!</p>
        </div></div>
        <div class="col-8"><p> Embrace a future where your talents are appreciated, and your ideas help shape the future of online retail. Your journey to a rewarding career begins here, at LeoChan Careers.
        </p></div>
    </div>

</div>