.form-control-sm{
    border: 2px solid rgb(238, 186, 54);
}

  .form-control-sm:focus {
    outline: 1px solid rgb(255, 213, 47); 
  }
  .btn{
    outline: orange;
  }
  .hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}