

<div class="container" >
    <table class="table table-hover">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Product</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartActual; let i = index">
            <!-- <th scope="row">{{i}}</th> -->
            <td>{{product.name}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.price}}€</td>
            <td>{{(product.amount*product.price).toFixed(2)}}€</td>
            <td><input #value min="0" [(ngModel)]="inputValues[i]" type="number" value="product.amount" class=" form-control-sm"></td>
            <td><button class="btn" (click)="updateProd(product,inputValues[i])">update</button></td>
            <td><button class="btn" (click)="deleteProd(product.name)">Delete</button></td>
          </tr>
          <tr>
            <td> Subtotal: {{totalCartValue.toFixed(2)}}€
            </td>
          </tr>
        </tbody>
      </table>
    
</div>

        <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeError()"></button>
    
        </div>

<div>
    <button class="btn btn-outline-leo m-1" (click)="navigateTo()">Checkout</button>
    <button class="btn btn-outline-secondary" (click)="goBack()">Keep Shopping</button>
</div>

