.form-select { 
    display: inline;
}
.backBut{
    margin-bottom: 10px;
    cursor: pointer;
}
.backBut:hover{
    transition: linear 0.5s;
    color: orange;
}
.form-check-input:checked{
    background-color: orange;
    border-color: orange;
}
.form-check-input:focus{
    border-color: rgb(255, 211, 130);
    box-shadow: 0 0 0 0.25rem rgba(253, 181, 13, 0.25);

}