.logo{
    font-family:'Caveat', cursive;
    font-size:x-large;
}

.section {
    display: inline-block;
    position: relative;
    font-family: 'Oswald', sans-serif;
  }
  
  .section:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: orange;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .section:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .isActive {
    color: orange;
    font-weight:400;
  }