@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Oswald:wght@300;400&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Sometype+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
/* font-family: 'Caveat', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
'Sometype Mono', monospace; */

.container{
    height:80vh;
    margin:0 5vw;
}
.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

