<p>product-details works!</p>
{{product.name}}{{product.amount}}{{product.description}}
<div>
    <div>
        <label>Quantity</label>
        <input #num type="number" class="form-control w-25" min="0" [(ngModel)]="value" max="{{product.amount}}">
    </div>
    <button class="btn btn-secondary" (click)="addItem()">Add Cart</button>
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeError()"></button>

    </div>
</div>
<app-popup-add *ngIf="popUpFlag" [product]="product" (close)="closePop()" [amount]="value"></app-popup-add>