
<div class="container mt-2">
    <div class="row">
        <h2>{{product.name}}</h2>
        <hr class="mb-3">
        <div class="col-4">
            <img src="{{product.imagePath}}" alt="" class="img-fluid rounded">
        </div>
        <div class="col-8 fw-light text-end">
            <div>
                <p><em>{{product.description}}</em></p>
                <p>Stock: {{product.amount}}</p>
                <p>Price: {{product.price}}€</p>
            </div>      
            <div class="input">
            <label>Quantity</label>
            <input #num type="number" class="form-control w-25 my-2" min="0" [(ngModel)]="value" max="{{product.amount}}" (keyup.enter)="addItem()">
            </div>
  
            <button class="btn btn-leo my-2 boxShadow" (click)="addItem()">Add Cart</button>
            <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
                 <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close" (click)="closeError()"></button>
            </div> 
        </div>
    
    </div>
</div>
<app-popup-add *ngIf="popUpFlag" [product]="product" (close)="closePop()" [amount]="value"></app-popup-add>