<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Job description</h2>
            <p class="fw-lighter descriptionText">{{job?.description}}</p>
            <h4>Requirements</h4>
            <ul class="list-group list-group-flush" *ngFor="let requirement of job?.requirements">
                <li class="list-group-item p-1 ">
                    <span class="fw-lighter requirementText"><i class="bi bi-dot"></i>{{requirement}}</span>
                </li>
            </ul>
        </div>
        <div class="col-4  p-3 colCenter">
            <div class="rightContainer text-end">
                <h3>{{job?.name}}</h3>
                <p class="fw-lighter"><span><i class="bi bi-geo-alt text-dark"></i>
                    {{location}}
                </span></p>
                <p class="fw-light">Salary: <span class="fw-lighter">{{job?.salaryRange}}</span></p>


            </div>         
            <div class="text-center mt-3">
                <button class="btn btn-outline-leo" (click)="jobApplication()">Apply</button>

            </div>      

        </div>
           
        </div>
</div>